
#txtFellows
{
    font-size: 30px;
}
.badge
{
    font-size: 20px;
    margin-left: 150px;
}


.reward {
    position:absolute;
    opacity: 0.8;
    z-index:1;
    border-radius: 20px;
    top: 30px;
    left: 10px;
    font-size: 250%;
    text-align: center;
    width: 300px;
    color : white;
}

.cible{
    opacity:0.6;
	z-index:1;
}
.reward span
{
	color:orange;
}

.card:hover .cible{
	opacity:1;
	z-index:2;
}
.card:hover .reward {
	display:none;
}

.trait_dessus
{
    border-top: 2px solid #000;
    width : 1110px;
}

#img_info1{
    width: 75%;
}
#img_gollum{
    width: 55%;
    height: 75%;
}
#txtinfo #txtinfo1{
    font-size: 20px;
}
#txtinfo2 {
    font-size : 15px;
}   

#Best {
    font-size  :30px;
}
#Ring {
    font-size  :30px;
}
#txtRing{
    left: 10px;
    text-align: center;
}
#txtgollum{
    margin-left: 350px;
}
#Army {
    font-size  :30px;
}
#Contact{
    font-size : 30px;
}

.Admail {
    font-family: "Amatic SC";
    padding-left: 20px;
    
  }
  #Message {
    font-family: "Amatic SC";

  }
  #footer{
      background-color: black;
      
  }
 
}
#txtinfo2 {
    font-size : 15px;
}   

#Best {
    font-size  :30px;
}
#Ring {
    font-size  :30px;
}
#txtRing{
    left: 10px;
    text-align: center;
}
#txtgollum{
    margin-left: 350px;
}
#Army {
    font-size  :30px;
}
#Contact{
    font-size : 30px;
}

.Admail {
    font-family: "Amatic SC";
    padding-left: 20px;
    
  }
  #Message {
    font-family: "Amatic SC";

  }
  #footer{
      background-color: black;
      
}
 
