
.trait_dessus
{
    border-top: 2px solid #000;
    width : 1110px;
}


#Contact{
    font-size : 30px;
}

.Admail {
    font-family: "Amatic SC";
    padding-left: 20px;
    
  }
  #Message {
    font-family: "Amatic SC";

  }
 